name: publish
on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          LATEST=`npm view . version`
          CURRENT=`cat package.json | jq -r .version`

          echo "Latest Version : $LATEST"
          echo "Current Version : $CURRENT"

          minVersion=$(printf '%s\n' "$LATEST" "$CURRENT" | sort -V | head -n1)
          if [ "$minVersion" != "$CURRENT" ]; then
            yarn
            yarn build
            git config --global user.name "gandis"
            git config --global user.email "gandis0713@gmail.com"
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
            echo "publish version : $CURRENT"
            npm publish
          else
            echo "publish was skipped."
          fi